body {
  background-color: black;
}

.inferno-title {
  color: #ff3300;
}

.inferno-link {
  color: #ff6600;
}

.inferno-btn-outline {
  border-color: #ff3300;
  color: #ff3300;
}

.inferno-card-body {
  background-color: #330000;
  border: 1px solid #660000;
}

.inferno-alert {
  background-color: #660000;
  border-color: #ff3300;
  color: #ffcc99;
}

.inferno-table {
  background-color: #330000;
  border: 1px solid #660000;

  th, td {
    color: #ffcc99;
  }
}
