<div class="container my-5">
  <div class="mb-4">
    <h2 class="display-5 fw-bold">Aggiungi Nuovi Film</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="title" class="form-label">Titolo</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="newMovie.title" placeholder="Inserisci il titolo">
      </div>
      <div class="mb-3">
        <label for="duration" class="form-label">Durata</label>
        <input type="text" class="form-control" id="duration" [(ngModel)]="newMovie.duration" placeholder="Inserisci la durata">
      </div>
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="number" class="form-control" id="rating" [(ngModel)]="newMovie.rating" placeholder="Inserisci il rating">
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="description" class="form-label">Descrizione</label>
        <textarea class="form-control" id="description" rows="5" [(ngModel)]="newMovie.description" placeholder="Inserisci la descrizione"></textarea>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" (click)="addMovie()">Aggiungi Film</button>
  </div>
</div>
