.inferno-bg {
  background-color: #333333;
}

.inferno-form {
  border-color: #ff3300;
}

.inferno-input {
  background-color: #222222;
  border-color: #660000;
  color: #ffcc99;
}

.inferno-btn {
  background-color: #ff3300;
  border-color: #660000;
}

.inferno-btn:hover {
  background-color: #ff6600;
  border-color: #ffcc66;
}
