body {
  background-color: black ;
}

.inferno-title {
  color: #ff3300;
}

.inferno-subtitle {
  color: #ff6600;
}

.inferno-lead {
  color: #ff9966;
}

.inferno-btn {
  background-color: #ff3300;
  border-color: #660000;
}

.inferno-btn-outline {
  border-color: #ff3300;
  color: #ff3300;
}

.inferno-main-title {
  color: #ff3300;
}

.inferno-small {
  color: #ff9966;
}

.inferno-card {
  background-color: #330000;
  border: 1px solid #660000;
}

.inferno-card-title {
  color: #ff3300;
}

.inferno-card-text {
  color: #ff6600;
}

.inferno-small-text {
  color: #ffcc99;
}
#image{
  width: 250vh;
}
#colore{
  color: white;
}
