<div class="container-fluid text-light py-5 d-flex justify-content-center align-items-center "id="div" >
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-3 fw-bold mb-4" >Scopri il tuo personale inferno</h1>
      <h3 class="fw-normal mb-3" >Iscriviti per affrontare persone che ti danno del lei</h3>
      <p class="lead mb-3" >Benvenuto nel mondo magico dell inferno! Siamo qui per portarti con caronte e farti immergere nelle tue peggiori paure!</p>
    </div>
    <div class="col-md-12 text-center">
      <a class="btn btn-outline-light btn-lg me-2" routerLink="/auth/register">Iscriviti Ora</a>
      <a class="btn btn-warning btn-lg" routerLink="/auth/login">Accedi</a>
    </div>
  </div>
</div>
