<div class="container-fluid text-light py-5 d-flex justify-content-center align-items-center">
  <div class="row">
      <div class="col-md-12 text-center">
          <h1 class="display-3 fw-bold text-primary mb-4">Scopri il magico mondo del cinema</h1>
          <h3 class="fw-normal text-secondary mb-3">Iscriviti per vivere emozioni uniche</h3>
          <p class="lead text-muted">Benvenuto nel mondo magico del cinema! Siamo qui per portarti in avventure indimenticabili e farti immergere in storie che ti lasceranno senza fiato. Unisciti a noi e scopri il potere dell'arte cinematografica!</p>
      </div>
      <div class="col-md-12">
      </div>
  </div>
</div>
